RewriteEngine On
RewriteBase /

# APIリクエストを除外
RewriteCond %{REQUEST_URI} ^/asia
RewriteRule /asia(.*)$ https://asia.api.riotgames.com/$1 [P,L]

RewriteCond %{REQUEST_URI} ^/jp1
RewriteRule /jp1(.*)$ https://jp1.api.riotgames.com/$1 [P,L]

RewriteCond %{REQUEST_URI} ^/opgg
RewriteRule /opgg(.*)$ https://www.op.gg/$1 [P,L]

# ファイルやディレクトリが存在しない場合にのみリダイレクト
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]