RewriteEngine On
RewriteBase /

# APIリクエストを別のドメインにリダイレクト
RewriteCond %{REQUEST_URI} ^/asia/(.*)$
RewriteRule ^asia/(.*)$ https://asia.api.riotgames.com/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/jp1/(.*)$
RewriteRule ^jp1/(.*)$ https://jp1.api.riotgames.com/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/opgg/(.*)$
RewriteRule ^opgg/(.*)$ https://www.op.gg/$1 [R=301,L]

# その他のリクエストはindex.htmlにリダイレクト
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
